.create{
    margin-top: 2%;
    position: relative;
        margin-bottom: 20%;
        width: 100%;
        h1{
            text-align: center;
            margin: 2% 0 ;
        }
    .in-title{
        margin: 5% 0 2% 0;
        width: 100%;
        display: flex;
            gap:10px;
            align-items: center;
        textarea{
            width: 80%;
        }
       
    }
    .sp-description{
        margin: 10px 0;
        width: 100%;
        display: flex;
            gap:10px;
            align-items: center;
        .inputText{
            width:80%;
            height: 80px;
        }
    }
    .img-blog{
        margin-top: 2%;
        width:100%;
        height: auto;
        object-fit: contain;
    }
    .image-file{
        margin: 2% 0;
    }
    .btn{
        margin-top: 5%;
        color: black;
        border: 1px solid rgb(228, 226, 226);
        border-radius: 15px ;
        transition: transform 0.3s;
        background-color: white;
        position: absolute;
        right: 50%;
        padding: 10px;
        margin-bottom: 10%;
    }
    .btn:hover{
        transform: scale(1.1);
        background-color: #45a049;
    }
}